/****** Reset ******/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/****** basic styles *******/
html {
    font-size: 100.01%;
    height: 100%;
}

body {
    font-size: 62.5%;
    color: #2c2c2c;
    background: #fff url(../images/bg.png) center top no-repeat;
    font-family: Arial, Tahoma, sans-serif;
    min-height: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Tahoma, sans-serif;
    color: #2c2c2c;
    font-weight: bold;
}

h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2.4em;
    margin-bottom: 0.75em;
}

h3 {
    font-size: 1.8em;
    line-height: 1;
    margin-bottom: 0.2em;
}

h4 {
    font-size: 1.2em;
    line-height: 1.2;
    margin-bottom: 1.5em;
}

h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

h6 {
    font-size: 0.9em;
    font-weight: bold;
}

a {
    color: #2c2c2c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 940px;
    margin: 29px auto 0 auto;
    background: #fff;
    overflow: hidden;
}

.noBg {
    background: none !important;
}

/***************************/
/*       main page
/***************************/
#topHeader {
    overflow: hidden;
    padding-bottom: 40px;
}

#topLogo {
    float: left;
    margin: 23px 0 0 25px;
    font-size: 2em;
    font-weight: bold;
    width: 560px;
}

#topLogo a {
    color: #4a0000;
}

#topLogo a:hover {
    text-decoration: none;
}

#topLogo .icoLogo {
    float: left;
}

#topLogo .icoLogo img {
    max-height: 38px;
    padding-right: 5px;
}

#topLogo .logoTitle {
    margin: 4px 0 2px 42px;
    text-transform: uppercase;
    font-size: 18px;
    display: block;
}

#topLogo .logoSubtitle {
    display: block;
    margin: 0 0 0 42px;
    font-size: 10px;
    font-weight: normal;
}

#topSubNav {
    float: right;
    padding: 25px 30px 0 0;
}

#topSubNav a {
    display: block;
    float: left;
    color: #fff;
    background-color: #4a0000;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 30px;
    width: 100px;
    line-height: 30px;
    font-size: 1.1em;
    padding-left: 28px;
    padding-right: 5px;
    margin-left: 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-weight: bold;
}

#topSubNav a:hover {
    background-color: #6e0000;
    text-decoration: none;
}

#topSubNav a.advLogin {
    background-image: url(../images/spriteTopSubNav.png);
    background-repeat: no-repeat;
    background-position: 4px 2px;
}

#topSubNav a.pubLogin {
    background-image: url(../images/spriteTopSubNav.png);
    background-repeat: no-repeat;
    background-position: -137px 2px;
}

#mainNav {
    float: right;
    width: 885px;
    margin: 28px 30px 0 25px;
    padding-top: 28px;
    border-top: 1px solid #bbb;
    text-align: right;
}

#mainNav li {
    display: inline;
    margin-left: 58px;
}

#mainNav li a {
    font-size: 1.5em;
    font-weight: bold;
}

#promoBlock {
    background: url(../images/bgImg.png) 0 0 no-repeat;
    display: flex;
    height: 300px;
}

#promoImage {
    height: 86%;
    margin-left: 30px;
    display: flex;
    width: 50%;
    margin: 0 auto;
}

#promoImage img {
    margin: auto;
    display: block;
    max-width: 85%;
    max-height: 90%;
}

#promoContent {
    width: 370px;
    text-shadow: 1px 1px 0 #fff;
    float: right;
    margin: 50px 80px 0 0;
}

#promoContent h2 {
    color: #4a0000;
}

#promoContent p {
    font-size: 1.2em;
    line-height: 1.7;
}

#mainContent {
    min-height: 500px;
    overflow: hidden;
    padding: 10px 10px 0 40px;
}

.colContainer {
    border: 1px solid #e3e3e3;
    border-left: none;
    border-right: none;
    margin: 15px 0 0 0;
    padding: 20px 0 20px 0;
}

#mainContent p {
    font-size: 1.2em;
    line-height: 1.5;
}

.colHeader {
    min-height: 70px;
    padding-bottom: 10px;
}

#mainContentLeftCol ul,
#mainContentRightCol ul {
    min-height: 270px;
}

#mainContentLeftCol li,
#mainContentRightCol li {
    background: url(../images/bullet.png) 0 6px no-repeat;
    font-size: 1.2em;
    margin: 0 0 9px 0;
    padding-left: 17px;
}

#mainContentLeftCol ul ul {
    min-height: 0;
}

#mainContentLeftCol li li {
    font-size: 1em;
    margin: 9px 0 9px 0;
}

#mainContentLeftCol {
    float: left;
    width: 375px;
    margin-left: 10px;
}

#mainContentRightCol {
    float: right;
    width: 375px;
    margin-right: 50px;
}

a.btn {
    display: block;
    height: 57px;
    width: 208px;
    line-height: 62px;
    background: url(../images/spriteBtn.png) 0 0 no-repeat;
    text-shadow: 1px 1px 0 #e3e3e3;
    font-size: 1.3em;
    padding-left: 75px;
    margin: 30px 0 0 45px;
}

a.btn:hover {
    background-position: 0 -68px;
    text-decoration: none;
}

a.publisher {
    background-position: right 0 !important;
}

a.publisher:hover {
    background-position: right -68px !important;
}

#bottomFooter {
    border-top: 1px solid #e3e3e3;
    margin: 90px 0 0 0;
    height: 110px;
    background: url(../images/bgFooter.png) 0 0 repeat-x;
    color: #878787;
}

#bottomFooter a {
    color: #878787;
    text-decoration: underline;
    line-height: 15px;
}

#bottomFooter a:hover {
    color: #646464;
}

#footerLeftCol {
    float: left;
    font-size: 1.2em;
    padding-top: 20px;
}

#footerRightCol {
    float: right;
    padding-top: 20px;
}

#footerRightCol li {
    float: left;
    font-size: 1.2em;
    margin: 0 35px 0 0;
}

/***************************/
/*       inner page
/***************************/
#innerContent {
    min-height: 500px;
    padding: 25px;
}

#stdForm label {
    display: inline-block;
    width: 203px;
    font-size: 1.4em;
}

#stdForm div {
    margin: 0 0 15px 0;
}

#stdForm input[type="checkbox"] + span {
    margin-right: 15px;
    font-size: 1.3em;
    display: inline-block;
    vertical-align: top;
}

#stdForm span a {
    text-decoration: underline;
}

#stdForm input[type="text"],
#stdForm input[type="password"] {
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #bbb;
    width: 250px;
    height: 20px;
    line-height: 20px;
}

#stdForm input[type="checkbox"] {
    margin: 0 5px 0 203px;
    border: 1px solid #bbb;
    border-radius: 2px;
    -moz-border-radius: 2px;
    width: 14px;
    height: 14px;
}

#stdForm select {
    margin-right: 15px;
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #bbb;
    width: 260px;
    height: 30px;
}

#stdForm textarea {
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #bbb;
    width: 250px;
}

#stdForm input[type="text"]:focus,
#stdForm input[type="password"]:focus,
#stdForm select:focus,
#stdForm textarea:focus,
#stdForm checkbox:focus {
    border-color: #777 !important;
}

#stdForm .capcha img {
    margin: 0 0 0 203px;
}

#stdForm .capcha span {
    display: block;
    font-size: 1.2em;
    padding: 15px 0;
    margin: 0 0 0 203px;
}

#stdForm .capcha input[type="text"] {
    margin: 0 0 0 203px;
}

#stdForm button[type="submit"] {
    margin: 10px 0 0 203px;
    height: 45px;
    width: 140px;
    font-weight: bold;
    font-size: 1.4em;
    outline: none;
    -webkit-appearance: button;
}

#stdForm {
    margin: 20px 0 0 0;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.errorMessage,
.fieldError {
    color: red;
    text-align: left;
    font-weight: bold !important;
    padding: 0 !important;
    white-space: pre-wrap;
}

.errorMessage {
    font-size: 1.4em !important;
}

.fieldError {
    font-size: 1.3em !important;
    display: block;
    margin: 5px 0 5px 203px !important;
}

.gwt-HintMark {
    vertical-align: super;
    cursor: pointer;
    font-size: smaller !important;
}

.necessarilyField {
    color: red;
    font-size: 2em !important;
    vertical-align: baseline;
    margin: 0 0 0 2px !important;
    display: inline !important;
}

.adkernelPoweredLink {
    font-size: 14px;
}

.g-recaptcha {
    margin-left: 202px !important;
}
